<!-- Модуль: кнопки-ссылки на биржи -->
<div class="buy-section">
    <div class="buy-links">
        <h2>Link Utili:</h2>
        <a href="https://pancakeswap.finance/swap?outputCurrency=0xDeaa62Ad6fea194D214e8F5b28253006589569C3&chain=bsc" class="exchange-link" target="_blank">PancakeSwap</a>
        <a href="https://uniswap.org/" class="exchange-link" target="_blank">Uniswap</a>
        <a href="https://www.coingecko.com/" class="exchange-link" target="_blank">CoinGecko</a>
    </div>
</div> 