{% extends 'base.html' %}
{% load static %}

{% block title %}VATICANCOIN (VATIC){% endblock %}

{% block content %}
<!-- Фоновое изображение Ватикана -->
<div class="background">
    <img src="{% static 'images/vatican-bg.jpg' %}" alt="Sfondo Vaticano" class="bg-image">
</div>
<!-- Подключение модулей (блоков) -->
{% include "main/blocks/hero.html" %}
{% include "main/blocks/features.html" %}
{% include "main/blocks/buy_instruction.html" %}
{% include "main/blocks/exchanges.html" %}
{% include "main/blocks/contract.html" %}
{% include "main/blocks/tokenomics.html" %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/global_styles.css' %}">
{% endblock %} 